HOST=0.0.0.0
PORT=1337
NODE_ENV=production
APP_KEYS=replace-with-key-1,replace-with-key-2,replace-with-key-3,replace-with-key-4
API_TOKEN_SALT=replace-with-api-token-salt
ADMIN_JWT_SECRET=replace-with-admin-jwt-secret
JWT_SECRET=replace-with-jwt-secret
TRANSFER_TOKEN_SALT=replace-with-transfer-token-salt
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=raushni_cms
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false
PUBLIC_URL=http://localhost:1337
