aws_region         = "ap-south-1"
project            = "raushni"
environment        = "development"
domain_name        = "raushni-dev.com"
hosted_zone_id     = ""
db_master_username = "raushni_admin"
db_master_password = "replace-with-strong-password"

enable_nat_gateway = false
node_subnet_tier   = "public"
node_instance_types = [
  "t3.small"
]
node_min_size     = 1
node_desired_size = 1
node_max_size     = 2

db_instance_class           = "db.t4g.micro"
db_allocated_storage        = 20
db_backup_retention_period = 3
db_deletion_protection     = false
db_multi_az                = false

redis_node_type          = "cache.t4g.micro"
redis_num_cache_clusters = 1

eks_enabled_cluster_log_types = []
enable_eks_managed_addons     = true
eks_addon_versions            = {}
app_secret_name               = "/raushni/development/app"
